@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap');

:root {


    --primary: #E04555;
    --junior:#EB949E;
    --senior:#F2F2F2;
    --secondary:#7F7F7F;
    --bright:#E84B23;
    --backdrop:#E6E6E6;
    --dark:#3F3F3F;
    --white:#FFFFFF;
    --slate:#f8fafc;
    --teal:#f9fafb;


    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

}
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    max-width: 1280px;
    margin: auto;
    color: black;


}
h1, h2,h3,h4,h5,h6{
    font-weight: 500;

}
h1{
   font-weight: 800;
    font-size: 48px;
}
h6{
    color: var(--primary);
}
p{
    color: #3F3F3F;
    font-weight: 500;
}
span{
    color: var(--junior);
}
a{
    color: var(--primary);
}
a:hover{
    color: var(--bright);
}
/*Navbar*/
.navbar-brand h2{
    color: var(--primary);

}
.nav-link,.navbar-nav .nav-item .nav-link{
    color: black;
    font-weight: 500;
}
.nav-link:hover,.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary);
}
@media screen and (min-width:820px){
    .big-menu{
        display: block;
    }
    .small-screen{
        display: none;
    }
}
@media screen and (max-width:819Px){
    .small-screen{
        display: block;
    }
    .big-menu{
        display: none;
    }
}

label{
    font-weight: 600;
    font-size: 14px;
}
input[type=text],input[type=email],input[type=date],
input[type=datetime-local]{
    border-radius: 5px!important;
    height: 45px;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: var(--dark) !important;
    border: 1px solid var(--primary) !important;
}
input[type=text]:focus,input[type=email]:focus, select:focus,input[type=datetime-local]:focus{
    box-shadow: none !important;
    border: 1px solid var(--primary) !important;
    outline: none !important;

}
input[type=checkbox]{
    border-radius: 0px !important;
    border: 1px solid black;
}
input[type=checkbox]:checked{
    background-color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    box-shadow: none;
}
input[type=checkbox]:focus{
    box-shadow: none !important;
}
input[type=checkbox]::after{
    border: 1px solid var(--primary) !important;
}
input[type=radio]{
    border: 1px solid black;
}
input[type=radio]:checked{
    border: 1px solid var(--primary);
    background-color: var(--primary) !important;
    box-shadow: none;
}
select{
    background-color: white !important;
    height: 45px;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: var(--dark) !important;
    border: 1px solid var(--primary) !important;


}

select:disabled{
    border: 1px solid var(--secondary) !important;
}
option{

    font-family: 16px !important;
    font-weight: 600;
}
::placeholder {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: var(--dark) !important;

}

.pagination{
    background: none !important;
}
.page-item .page-link{
    background: none !important;
    border: none;
    color: var(--primary);
    font-weight: 700;
}
.active .page-link {
    background-color: var(--primary) !important;
    border-radius: 30%;
}
/*----Buttons---*/
.btn{
    text-align: center;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

}
.btn:focus{
    box-shadow: none;
}
.btn-link{
    color: var(--primary);

}
.btn-link:hover{
    color: var(--bright);
}
.btn-primary{
    background:rgba(224, 69, 85,1);
    color: white;
    border: none;
}

.btn-primary:hover{
    background: rgba(224, 69, 85,0.8);
    color: white;

}
.btn-secondary{
    background: rgba(25, 114,120, 0.2);
    color: var(--junior);
    border: none !important;
}
.btn-secondary:hover{

    background:rgba(224, 138,30, 0.2);
    color: var(--secondary);
    border: none!important;
}
.btn-view{
    background:rgba(224, 138,30, 0.2);
    color: var(--secondary);
    border: none!important;
}
.btn-view:hover{
    background: rgba(25, 114,120, 0.2);

    color: var(--junior);
    border: none !important;
}
.minimal{
    border: none !important;
    width: auto;
    font-weight: 600;
}
.minimal:focus{
    border: none !important;
}

.search{

}
.stops th h5{
    color: var(--junior);
}
hr{
    background-color: black;
    opacity: 1;
}
.intro p{
    font-size: 13px;
}
.flight-active{
    background-color: var(--teal);
}
.flight:hover{
    background-color: var(--teal);
    cursor: pointer;
}
.display-none{
    display: none ;
}
.error{
    color: red;
    font-weight: 600;
}
.pagination{
    background: none !important;
}
.page-link{

    border:1px solid var(--primary) !important;
    color: var(--primary) !important;
    font-weight: 700;
    font-size: 18px;
    margin: 4px;
    border-radius: 3px;
    width: 40px;
}
.page-item .active-page{
    background-color: var(--primary) !important;
    color: white !important;

}
.active-page:hover,.page-link:hover{
    color: white !important;
    background-color: var(--junior)!important;
    border:1px solid var(--junior)
}

.destination h6{
    color: red;
    font-weight: 600 !important;
    font-size: 24px;
    font-style: italic;
}

.destination p{
    color: black;
}
